/* 字体资源 */
/* @font-face {
  font-family: SrcHans-serif;
  src: url('fonts/SourceHanSerifCN-Regular-1.otf') format('opentype');
}

@font-face {
  font-family: Alihealth-sans-serif;
  src: url('fonts/Alibaba Health Font CN 85B.ttf') format('truetype');
}

@font-face {
  font-family: Jetbrains-mono;
  src: url('JetBrainsMono-Regular.ttf') format('truetype');
} */

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: Alihealth-sans-serif, sans-serif;
  line-height: 1.3;
  color: #2c3e50;
  background-color: #2a2c48;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

:hover {
  cursor: default;
}

a:hover {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 800px;

  /* 神奇小数字 */
  /* min-height: 93vh; */
  
  background: #ffffff;
  border-radius: 15px;
  margin: 1em auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;


  padding: 40px 20px 50px;
  /* 四角显示img/ul,ur,ll,lr.png */
  /* 背景图显示img/bg.png */
  background:
    url('img/ul.png') no-repeat left top / 100px 100px,
    url('img/ur.png') no-repeat right top / 100px 100px,
    url('img/ll.png') no-repeat left bottom / 100px 100px,
    url('img/lr.png') no-repeat right bottom / 100px 100px,
    url('img/bg.png') repeat;
}

.clear-container {
  padding: 20px 20px 20px;
  background: url('img/bg.png') repeat;
}

/* 移动端适配 */
@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    /*min-height: 100vh;*/
    width: 100%;
  }

  .container {
    max-width: none;
    /*min-height: 100vh;*/
    padding: 0 25px 30px;
    border-radius: 0;
    margin-top: 0;
  }
}

/* 小屏幕优化 */
@media (max-width: 480px) {
  .container {
    padding: 25px 20px;
  }
}

::selection {
  background: #39b3ff;
  color: #f7f7f0;
}


.container * {
  position: relative;
  z-index: 2;
}

/* 标题样式 */
h1, h2, h3, h4, h5, h6 {
  font-family: SrcHans-serif, serif;
  color: #34495e;
}

h1 {
  display: flex;
  justify-self: center;
  font-size: 2.5em;
  font-weight: 600;
  border-bottom: 3px solid #F5B0e8;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.1em;
  text-align: center;
  margin-bottom: 0;
}

h2 {
  position: relative;
  font-size: 2em;
  font-weight: 500;
  padding: 0 0 0.3em 0.5em;
  border-left: 0.5em solid;
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, #8AB7EBff, #8AB7EB00) 1;
  line-height: 1.3;
}

h3 {
  /* background-color: transparent;
  background-image: linear-gradient(to right, #87CE87ff, #87CE8700); */
  color: #309f30;  /* 原辐射 #87CE87 */
  font-size: 1.75em;
  font-weight: 400;
  padding: 0.2em 0 0.3em 0.5em;
  border-radius: 10px;
}

h4, h5, h6 {
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: 1.5em;
  font-weight: 300;
  border-color: #AE96D8;
}

/* 段落和文本样式 */
p {
  margin: 1em 0;
  line-height: 1.8;
  font-size: 1.1em;
}

a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #0c0cc6;
  text-decoration: none; 
}


strong {
  font-weight: bold;
  color: #c0392b;
}

em {
  font-style: italic;
}

/* 引用块 */
blockquote {
  margin: 1em 0.1em;
  line-height: 1.8;
  font-size: 1em;
  padding: 0.6em 1.5em;
  color: #898c8f;
  background: #ecf0f17f;
  border-left: 5px solid #b2b2bd;
}

blockquote p {
  margin: 0;
}

/* 列表样式 */
ul, ol {
  margin: 1em 0;
  padding-left: 2em;
}

ul li {
  list-style-type: circle;
  margin: 0.5em 0;
}

ol li {
  list-style-type: decimal;
  margin: 0.5em 0;
}

ol ol {
    list-style-type: lower-roman;
}

ol ol ol {
    list-style-type: lower-latin;
}

li li {
    list-style-type: square;
}

li li li {
    list-style-type: lower-alpha;
}


code {
  background: #ecf0f1;
  color: #e74c3c;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-family: Jetbrains-mono, Consolas, 'Courier New', monospace;
}

pre {
  background: #2c3e50;
  color: #ecf0f1;
  padding: 1em;
  border-radius: 10px;
  overflow-x: auto;
  font-family: Jetbrains-mono, Consolas, 'Courier New', monospace;
  font-size: 0.95em;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

/* 移除代码块中的嵌入格式 */
pre code {
    background: none;
    background-color: transparent;
    padding: 0;
    border: none;
    color: inherit;
    font-family: inherit;
}

.highlight * {
  background-color: #2c3e50 !important;  /* 强制修改外部导入的代码块背景色。本主题下安全。 */
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
  font-size: 1.1em;
  overflow: hidden;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 0.5em 0 0.5em 0.5em;
  text-align: left;
}

table th {
  background: #3498db;
  color: white;
  font-weight: bold;
  text-align: center;
}

table tr:nth-child(even) {
  background: #f9f9f9;
}

table tr:nth-child(odd) {
  background: #ecf0f1;
}

table tr:hover {
  background: #ffe7f9;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1em auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

hr {
  width: 160px;
  height: 10px;
  background-image: url('img/hr.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px auto;
  border-radius: 2.5px;
  border: none;
}

.latex-img * {
    padding: 0px;
    display: block;
    margin: 20px auto;
}

/* Explicit meta-information */
.e-meta {
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom: 0;
  color: #888;
  text-align: right;
}